/*
* Fecha de creaci&oacute;n:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripci&oacute;n:			Hoja de estilos para los controles del sitio Web p&uacute;blico
*/

.CartImage
{
	padding: 4px 0px 0px 10px;
}

.LiquidPaintImage
{
	padding: 20px 15px 0px 70px;
}

.MediumTextarea
{
	color: #222;
	font-family: Calibri, Verdana, Arial;
	font-size: 14px;
	height: 100px;
	width: 300px;
}

.MediumTextbox
{
	color: #222;
	font-family: Calibri, Verdana, Arial;
	font-size: 14px;
	width: 200px;
}

.OvenImage
{
	padding: 20px 15px 0px 70px;
}

.PartsImage
{
	padding: 20px 15px 0px 70px;
}

.PhoneFooterImage
{
	padding-top: 10px;
}

.PowderImage
{
	padding: 20px 15px 0px 70px;
}

.Promotionmage
{
	padding: 4px 0px 0px 0px;
}

.SalesFooterImage
{
	padding-top: 10px;
}

.SeparatorImage
{
	padding: 0px 10px 0px 10px;
}
