/*
* Fecha de creaci&oacute;n:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripci&oacute;n:			Hoja de estilos para las divisiones del sitio Web p&uacute;blico
*/

#BodyDiv .CompanyBannerDiv
{
    padding: 0px;
    width: 843px;
    float: right;
}

#BodyDiv .CompanyTextDiv
{
    clear: both;
    text-align:justify;
    border: 2px, black;
    position: fixed;
    height: auto;
    width: 920px;
    padding-left: 5px;
    position:relative;
    left:40px;
}

#BodyDiv .CompanyTextDiv .BoldText
{
    color: #0066CB;
    font: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

#BodyDiv .LeftDiv
{
	border: 0px;
	float: left;
	width: 260px;
}

#BodyDiv .LeftDiv .CategoryNameDiv
{
	background-color: #0066cc;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	padding: 2px 0px 2px 10px;
}

#BodyDiv .LeftDiv .CategoryTitleDiv
{
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	padding: 10px 0px 5px 10px;
}

#BodyDiv .RightDiv
{
	border: 0px;
	float: right;
	width: 735px;
}

#BodyDiv .RightDiv .BannerDiv
{
	padding: 0px;	
}

#BodyDiv .RightDiv .IconDiv
{
	float: left;
	width: 65px;
}

#BodyDiv .RightDiv .TitleDiv
{
	border-bottom: 1px solid #0066cc;
	float: right;
	margin-right: 10px;
	padding: 10px 0px 0px 0px;
	width: 655px;
}

#BodyDiv .RightFooterDiv
{
    border: 0px;
	float: right;
	width: 600px;
}

#BodyDiv .RightFooterDiv .IconDiv
{
	float: left;
	width: 51px;
}

#BodyDiv .RightFooterDiv .TitleDiv
{
	border-bottom: 1px solid #FF9900;
	float: right;
	margin-right: 10px;
	padding: 10px 0px 0px 0px;
	width: 519px;
}

#BodyDiv .MenuIconDiv
{
	background: url(../../../Image/Background/MenuBackground.jpg) repeat-x;
	height: 35px;
}

#BodyDiv .YellowDiv
{
	background-color: #ffcc00;
	height: 200px;
}

.ContactDiv
{
	margin-left:50px;
}

#BodyDiv .ContactDiv .WrapTitleContact {
	border: 2px solid #2BAF91;
	float: left;
	font-weight: bold;
	height: 25px;
	width: 137px;
	text-align: center;
	padding-top: 6px;
	font-size: 18px;
}

#BodyDiv .ContactDiv .WrapTitleContactError {
	border: 2px solid rgba(192, 12, 3, 1);
	float: left;
	font-weight: bold;
	height: 25px;
	width: 137px;
	text-align: center;
	padding-top: 6px;
	font-size: 18px;
}



#BodyDiv .ContentDiv .Text {
	float: left;
	height: auto;
	width: 900px;
	margin-top: 20px;
	margin-left: 45px;
	margin-bottom: 10px;
	text-align: justify;
}




#FooterDiv .FacebookDiv
{
	float: left;
	padding: 10px 0px 0px 35px;
	text-align: center;
	width: 85px;
}

#FooterDiv .GoogleDiv
{
	float: left;
	padding: 10px 0px 0px 0px;
	text-align: center;
	width: 85px;
}

#FooterDiv .SocialTextDiv
{
	clear: both;
	color: #fff;
	font-size: 16px;
	padding-top: 10px;
	text-align: center;
}

#FooterDiv .TwitterDiv
{
	float: left;
	padding: 10px 0px 0px 0px;
	text-align: center;
	width: 85px;
}

#HeaderDiv .LogoDiv
{
	float: left;
	padding: 25px 25px 15px 30px;
}

#HeaderDiv .MenuDiv
{
	background: url(../../../Image/Background/MenuBackground.jpg) repeat-x;
	height: 35px;
}

#HeaderDiv .PhoneDiv
{
	float:right;
	height: 45px;
	padding: 15px 25px 15px 0px;
	width: 235px;
}

#HeaderDiv .SloganDiv
{
	clear: both;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 0px 0px 10px 20px;
}




