/*
* Fecha de creación:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripción:			Hoja de estilos para las divisiones del sitio Web público
*/

#HeaderDiv .LogoDiv
{
	float: left;
	padding: 25px 25px 15px 30px;
}

#HeaderDiv .MenuDiv
{
	background: url(/Image/Background/MenuBackground.jpg) repeat-x;
	height: 35px;
}

#HeaderDiv .PhoneDiv
{
	float:right;
	height: 45px;
	padding: 15px 25px 15px 0px;
	width: 235px;
}

#HeaderDiv .SloganDiv
{
	clear: both;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 0px 0px 10px 20px;
}




