/*
* Fecha de creaci&oacute;n:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripci&oacute;n:			Hoja de estilos para las pantallas del sitio Web p&uacute;blico
*/

html, body, form
{
	background: url(../../../Image/Background/PageBackground.jpg) center repeat-y;
	background-color: #2C3137;
	border: 0px;
	color: #000;
	font-family: Calibri, Verdana, Arial;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#BodyDiv
{
	background-color: #fff;
	min-height: 1150px;
	width: 1000px;
}

#FooterDiv
{
	background-color: #2C3137;
	clear: both;
	height: 170px;
	text-align: center;
    width: 1000px;
}

#HeaderDiv
{
	background-color: #fff;
    height: 175px;
    width: 1000px;
}

#MainDiv
{
	margin: auto;
	width: 1000px;
}
