/*
* Fecha de creaci&oacute;n:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripci&oacute;n:			Hoja de estilos para las tablas del sitio Web p&uacute;blico
*/

.FooterTable
{
	border-spacing: 5px;
	width: 100%;
}

.FooterTable .Cell
{
	vertical-align: top;	
}

.FooterTable .Text
{
	color: #fff;
	font-size: 12px;
	font-style: italic;
	padding-top: 20px;
	text-align: center;
}

.GeneralTable
{
	border: 0px;
	border-spacing: 10px;
}

.GeneralTable .FieldTd
{
	text-align: right;
}

.GeneralTable .NameTd
{
	vertical-align: top;
	width: 150px;
}

.GeneralTable .RequiredTd
{
	color: #f00;
	font-size: 13px;
	vertical-align: top;
	width: 10px;
}

.GeneralTable .SpaceTd
{
	width: 10px;
}

.GeneralTable .TextTd
{
	font-weight: normal;
	text-align: justify;
}

.GeneralTable .TitleTd
{
	font-weight: bold;
	text-align: justify;
}

.GeneralTable .SendButtonTd
{
   padding-left: 288px;
}

.MenuTable
{
	border-spacing: 5px;
	text-align: center;
}

.MenuTable a
{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.MenuTable .Company
{
	width: 125px;
}

.MenuTable .Contact
{
	width: 125px;
}

.MenuTable .Gallery
{
	width: 125px;
}

.MenuTable .Home
{
	width: 125px;
}

.MenuTable .Prodcut
{
	width: 125px;
}
