/*
* Fecha de creaci&oacute;n:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripci&oacute;n:			Hoja de estilos para los textos del sitio Web p&uacute;blico
*/

.RedText
{
	color: #f00;
	font-size: 13px;
}

#AvisosLabel
{
	color:red;
}
