/*
* Fecha de creación:	13-Octubre-2014
* Autor:				Carlos Valladolid
*
* Descripción:			Hoja de estilos para las divisiones del sitio Web público
*/

#BodyDiv .MenuIconDiv
{
	background: url(/Image/Background/MenuBackground.jpg) repeat-x;
	height: 35px;
}

#BodyDiv .YellowDiv
{
	background-color: #ffcc00;
	height: 200px;
}

#FooterDiv .FacebookDiv
{
	float: left;
	padding: 10px 0px 0px 35px;
	text-align: center;
	width: 85px;
}

#FooterDiv .GoogleDiv
{
	float: left;
	padding: 10px 0px 0px 0px;
	text-align: center;
	width: 85px;
}

#FooterDiv .SocialTextDiv
{
	clear: both;
	color: #fff;
	font-size: 16px;
	padding-top: 10px;
	text-align: center;
}

#FooterDiv .TwitterDiv
{
	float: left;
	padding: 10px 0px 0px 0px;
	text-align: center;
	width: 85px;
}

#HeaderDiv .LogoDiv
{
	float: left;
	padding: 25px 25px 15px 30px;
}

#HeaderDiv .MenuDiv
{
	background: url(/Image/Background/MenuBackground.jpg) repeat-x;
	height: 35px;
}

#HeaderDiv .PhoneDiv
{
	float:right;
	height: 45px;
	padding: 15px 25px 15px 0px;
	width: 235px;
}

#HeaderDiv .SloganDiv
{
	clear: both;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 0px 0px 10px 20px;
}




