<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Public.master.cs" Inherits="Capisa.Web.Include.Template.Public" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>Cabinas de Pintura</title>

        <meta name="description" content="Cabinas de Pintura" />
        <meta name="keywords" content="cabina, pintura, filtro, pistola, horno, colector" />
        <meta name="author" content="iydsa" />

        <link href="/Include/Style/Public/Control.css" rel="Stylesheet" type="text/css" />
        <link href="/Include/Style/Public/Div.css" rel="Stylesheet" type="text/css" />
        <link href="/Include/Style/Public/Main.css" rel="Stylesheet" type="text/css" />
        <link href="/Include/Style/Public/Table.css" rel="Stylesheet" type="text/css" />
        <link href="/Include/Style/Public/Text.css" rel="Stylesheet" type="text/css" />

        <script src="/Include/Javascript/jquery-1.9.1.min.js" type="text/javascript"></script>

        <asp:ContentPlaceHolder ID="HeaderContentPlaceHolder" runat="server"></asp:ContentPlaceHolder>
    </head>

    <body>
        <form id="form1" runat="server">
            <div id="MainDiv">
                <div id="HeaderDiv">
                    <div class="LogoDiv"><img src="/Image/Logo/CapisaLogo.jpg" /></div>
                    <div class="PhoneDiv"><img src="/Image/Icon/PhoneIcon.jpg" /></div>
                    <div class="SloganDiv">Diseño, fabricación e instalación de cabinas de pintura líquida y en polvo</div>

                    <div class="MenuDiv">
                        
                    </div>
                </div>

                <div id="BodyDiv">
                    <asp:ContentPlaceHolder ID="BodyContentPlaceHolder" runat="server">
                            
                    </asp:ContentPlaceHolder>
                </div>

                <div id="FooterDiv">
                    
                </div>
            </div>
        </form>
    </body>
</html>
